body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:2209px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1046px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1046px;
}
#u1 {
  position:absolute;
  left:2px;
  top:515px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:210px;
  top:308px;
  width:80px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:218px;
  top:324px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#27ACE6;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:211px;
  top:520px;
  width:81px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:372px;
  top:130px;
  width:758px;
  height:780px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:780px;
}
#u9 {
  position:absolute;
  left:2px;
  top:382px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:367px;
  top:130px;
  width:736px;
  height:45px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:45px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:732px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:132px;
  width:180px;
  height:58px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:58px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:406px;
  top:147px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:995px;
  top:198px;
  width:95px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1220px;
  top:464px;
  width:261px;
  height:32px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1730px;
  top:634px;
  width:365px;
  height:32px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1220px;
  top:504px;
  width:248px;
  height:32px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1220px;
  top:400px;
  width:180px;
  height:16px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:349px;
  top:123px;
  width:765px;
  height:523px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:523px;
}
#u27 {
  position:absolute;
  left:2px;
  top:254px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1220px;
  top:426px;
  width:417px;
  height:32px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1725px;
  top:196px;
  width:484px;
  height:422px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:422px;
}
#u31 {
  position:absolute;
  left:2px;
  top:203px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
